window-rule {
    geometry-corner-radius 6 // Set every window radius to N
    clip-to-geometry true
    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }
}

// 让顶部和覆盖层使用普通模糊
layer-rule {
    match layer="top"
    match layer="overlay"
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}


window-rule {
    match is-active=true
    opacity 0.9
}

window-rule {
    match app-id="^org.gnome.Loupe*"
    open-floating true

    background-effect {
        blur true
    }
    popups {
        geometry-corner-radius 15
        opacity 0.5
        background-effect {
            blur true
        }
    }
}

window-rule {
    match app-id="^emacs*"
    opacity 0.9
}

window-rule {
    match title="^Picture-in-Picture$" // 比如 Chrome 的画中画
    geometry-corner-radius 0
    clip-to-geometry true

}

window-rule {
    match app-id="^org.pwmt.zathura$" // 比如 Chrome 的画中画
    geometry-corner-radius 0

    opacity 0.9
}

window-rule {
    // Match the temporary editing window by its class and title
    match app-id="emacs" title="emacs-float"
    open-floating true
}
window-rule {
    match app-id="^org.fcitx*"
    draw-border-with-background false
    geometry-corner-radius 0
    opacity 0.95
    clip-to-geometry true
}
window-rule {
    match app-id="^Alacritty$"
    default-column-width { proportion 0.7; }

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^foot$"
    default-column-width { proportion 0.7; }
}

window-rule {
    match app-id="^kitty$"
    default-column-width { proportion 0.7; }
}
layer-rule {
    match namespace="^launcher$"

    background-effect {
        blur true
    }
}
// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
  background-effect {
    xray false
  }
}
